<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#">Employee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/app">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/project">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/relocate">Relocate</a>
      </li>
    </ul>
  </div>
  <div class="search">
    <form class="form-inline">
      <div class="md-form">
        <input class="form-control" type="text" placeholder="Search">
      </div>
    </form>
  </div>
</nav>



<!--nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1>Employee</h1>
    </a>
  </div>
  <div>
    <ul class="menu">
      <li>Dashboard</li>
      <li>Relocate</li>
      <li>Directory</li>
      <li>Projects</li>
      <li>technology</li>
    </ul>
  </div>
  <div class="search">
    <form class="form-inline">
      <div class="md-form">
        <input class="form-control" type="text" placeholder="Search">
      </div>
    </form>
  </div>
</nav-->
